/* header */
header{ 
    vertical-align: middle;
    display: flex;
    width: 100vw;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}
header div img{
    padding-right: 700px;
}
header div a{
    padding-right: 50px;
    text-decoration: none;
    font-family: 'Public Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #33323D;
    cursor:pointer; 
}
a{
    text-decoration: none;
}
a:hover,a:focus {
    color: #5FB4A2;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: #ffffff;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb{
    background:#203A4C ;
    border-radius: 5px;
}body{
    overflow-x: hidden; 
}

/* footer */
footer{
    background-color: #33323D;
    width:110vw;
    margin-left: -40px;
    display: flex;
    align-items: center;
}
footer img{
    padding: 20px 0px;
    padding-left: 80px;
    padding-right: 50px;
}

.txtfooter{
    align-items: center;
    color: white;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-right: 50px;
}
#divImgFooter {
    padding-left: 400px;
}
.imgfooter{
    position:relative;
    left:20px;   
    padding: 0px;
    padding-left: 20px;
}
.btnn a:focus{
    color: #5FB4A2;
}
.txtfooter a:focus{
    color: #5FB4A2;
}
