
/* Hero Section */
.homepage-hero ,.homepage-hero-box {
    margin-left: 40px;
}
.homepage-hero  img{
    height: 100%;
    width: 90vw;
    object-fit: cover;    
}
.homepage-hero-box {
    background-color: rgb(255, 255, 255);
    width: 32.1%;
    height: 272px;
    position:relative;
    top:-386px;
    padding: 10px 30px 100px 30px;
}
.box{
    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 50px;
    /* or 100% */
    
    letter-spacing: -0.446429px;
    
    color: #33323D;
    margin-bottom: 70px;

}
.btn-box{
    display: flex; 
    width: 200px;
    height: 48px; 
    cursor:pointer;    
    position:relative;
    top:-36px;
    left: -30px; 
}
.btn-box img{
    padding: 18px 16px;
    background: #192c3a;
    mix-blend-mode: normal;

}
.btn-box a {
    background-color: #203A4C;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;  
    color: #FFFFFF;
    margin: auto;
    padding: 17px 34px;

}
a:hover {
    color: #5FB4A2;
}

/* Contato Section */
.homepage-profile{
    display: flex;
    width: 90vw;
    position:relative;
    top:-280px;
    padding-left: 40px;
}
.homepage-profile img{
    width: 43vw;
}
.texto h1{

    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;
    color: #33323D;
    padding-left: 140px;
    padding-top: 25px;
    position:relative;
    top:-36px;

}
.texto p{
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #33323D;
    mix-blend-mode: normal;
    opacity: 0.8;
    padding-left: 140px;
    padding-top: 25px;
    position:relative;
    top:-40px;

}

.btnn{
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #33323D;
    text-align: center;
    padding-top: 30px;
    margin-left: 90px;
    position:relative;
    top:-40px;
 
}
.btnn a{
    padding: 20px 30px;
    border: 1px solid #33323D;
    box-sizing: border-box;    
}
div .linha{
    margin-left: 134px;
    width: 490px;
    height: 0.1px;
    border: 0.1px solid #979797;
    position:relative;
    top:-30px;  
    margin-top: 30px;
    margin-left: 134px;
    width: 490px;
    height: 0.1px;
    border: 0.1px solid #979797;
    
}
div .linhaa{
    margin-left: 45px;
    width: 490px;
    height: 0.1px;
    border: 0.1px solid #979797;
    position:relative;
    margin-top: 30px;
    width: 490px;
    height: 0.1px;
    border: 0.1px solid #979797;
    
    position:relative;
    top:1px;      
}

/* Contato Section */
.ContatoSection{
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-bottom: 100px;
    width: 1110px;
    height: 80px;
    position:relative;
    top:-100px;   
}
.ContatoSection h1{
    font-family: 'Ibarra Real Nova', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;
    color: #33323D;
    margin-right:400px;
    
}.ContatoSection .btnn a{
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #33323D;
    text-decoration: none;
    padding: 15px 50px;
}.ContatoSection .btnn a:hover {
    color: #5FB4A2;
}
